@import "../../../styles/_colors";

.pharmacy-detail {
  padding: 12px;
  min-width: 350px;
  margin: 4px;
}

.pharmacy- {
  &name {
    font-weight: bold;
    display: inline;
  }
  &address {
    opacity: 80%;
  }
}
