
$color-principal: #68DCFF;

$color-generic-gradient1: #45E9F4;
$color-generic-gradient2: #53F4DA;
$color-generic-gradient3: #84FAB5;
$color-generic-gradient4: #BDFC8F;
$color-generic-gradient5: #F9F871;

$color-matching-gradient1: #64BFF9;
$color-matching-gradient2: #799FE8;
$color-matching-gradient3: #927DC9;
$color-matching-gradient4: #A2599E;
$color-matching-gradient5: #A33469;

$color-spot1: #14A5C6;
$color-spot2: #C2F9FF;
$color-spot3: #7D2E00;

$color-classy1: #334A52;
$color-classy2: #96AFB9;
$color-classy3: #E5B6F2;
$color-classy4: #AD81B9;

$color-natural1: #00A6E0;
$color-natural2: #E4FEFF;
$color-natural3: #E6F4F1;

$color-squash1: #FF87A8;
$color-squash2: #70C47B;

$color-grey-friend1: #334A52;
$color-grey-friend2: #96AFB9;