@import "../styles/_colors";

.ant-layout-content {
  color: $color-natural1;
  background: $color-natural2;
}

.ant-layout- {
  &header {
    margin-bottom: 4px;
    padding: 16px;
    color: $color-natural2;
    background: $color-natural1;
  }

  &footer {
    padding: 16px;
    color: $color-natural2;
    background: $color-natural1;
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
}

.ant-layout {
  justify-content: space-between;
}
